
{% load static %}
 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Estilo customizado -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Bootstrap Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- ICONE -->
        <link rel="icon" href="#">
        <!-- Título -->
        <title>Brindes disponíveis</title>
    </head>
 
<body>

<!-- sidebar -->
<div class="sidebar">
    <a href="{% url 'homeCliente' %}"><img src="../static/img/Logo Ecoshare branco.png" alt="Logo" width="120"></a>
    <hr>
    <a href="{% url 'homeCliente' %}"><i class="bi bi-house-door-fill"></i> Home</a>
    <a href="{% url 'doacoesCliente' %}"><i class="bi bi-cart-check"></i> Nova doação</a>
    <a class="active" href="{% url 'brindesCliente' %}"><i class="bi bi-gift"></i> Brindes disponíveis</a>
    <a href="{% url 'relatorioCliente' %}"><i class="bi bi-bar-chart-line"></i> Minhas doações</a>
    <a href="{% url 'perfilCliente' %}"><i class="bi bi-person-fill"></i> Perfil</a>
    <hr>
    <a href="{% url 'logout' %}"><i class="bi bi-door-open"></i> Sair</a>
</div>
  
<!-- Conteúdo -->

<div id="brindes" class="content">
    <div class="card">
        <form action="" method="post">
            <h5>Brindes disponíveis</h5>
            <input type="hidden" name="action" value="cadastrar">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card inner-card" style="width: 18rem;">
                        <img class="card-img-top" src="https://us.123rf.com/450wm/topntp/topntp1806/topntp180600513/102427979-arroz-de-jasmim-tailand%C3%AAs-cru-branco.jpg?ver=6" alt="Arroz">
                        <div class="card-body text-center">
                            <h6 class="card-text">Arroz</h6>
                            <p class="card-text">Peso do pacote - 5KG</p>
                            <button class="btn btn-custom"><a href="{% url 'relatorioCliente' %}" class="nav-link">Resgatar</a></button>
                        </div>
                    </div>
                    <div class="card inner-card" style="width: 18rem;">
                        <img class="card-img-top" src="https://img.freepik.com/free-photo/pasta-wooden-cups-black-surface_114579-16267.jpg?t=st=1716991012~exp=1716994612~hmac=9c12f9b059cf55c50cb2e8edbe980c07c4f7ae1996cd9ff4f45d14262d51c51f&w=740" alt="Macarrão">
                        <div class="card-body text-center">
                            <h6 class="card-text">Macarrão</h6>
                            <p class="card-text">Peso do pacote - 1KG</p>
                            <button class="btn btn-custom"><a href="{% url 'relatorioCliente' %}" class="nav-link">Resgatar</a></button>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="card inner-card" style="width: 18rem;">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4sxO9RPm-S3H6h7Yy0GUiPMwxXmCaHWbUzwx3RHaVOz-9_BqBPYgNKvvAC8KgwyWT_N0&usqp=CAU" alt="Feijão">
                        <div class="card-body text-center">
                            <h6 class="card-text">Feijão</h6>
                            <p class="card-text">Peso do pacote - 2KG</p>
                            <button class="btn btn-custom"><a href="{% url 'relatorioCliente' %}" class="nav-link">Resgatar</a></button>
                        </div>
                    </div>
                    <div class="card inner-card" style="width: 18rem;">
                        <img class="card-img-top" src="https://img.freepik.com/fotos-gratis/vista-superior-de-diferentes-tipos-e-formas-de-acucar-em-uma-tigela-e-copos-em-fundo-preto-de-madeira_141793-7631.jpg" alt="Açúcar">
                        <div class="card-body text-center">
                            <h6 class="card-text">Açúcar</h6>
                            <p class="card-text">Peso do pacote - 1KG</p>
                            <button class="btn btn-custom"><a href="{% url 'relatorioCliente' %}" class="nav-link">Resgatar</a></button>
                        </div>
                    </div>          
                </div>
            </div>
        </f6orm>
    </div>
</div>

</body>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>