{% load static %}

<footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" id="social">
          <span>Conecte-se conosco nas nossas redes sociais:</span>
            <ul class="social-media">
              <i class="bi bi-facebook"></i>
              <i class="bi bi-instagram"></i>
              <i class="bi bi-twitter"></i>   
            </ul>
        </div>
      </div>
    </div>
    <div class="container mb-3">
      <div class="row mt-5 text-center">
        <div class="col-md-3" id="ecoshare">
          <h4>ecoShare</h4>
          <ul class="navbar-nav">
            <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni voluptatibus, id, ducimus veritatis cupiditate ullam velit fugit sunt fuga deserunt expedita quaerat quibusdam temporibus quasi dignissimos. Expedita facilis quis amet!</a></li>
          </ul>
      </div>
        <div class="col-md-3 text-center" id="inicio">
            <h4>Home</h4>
            <ul class="navbar-nav">
              <li><a href="">Instruções</a></li>
              <li><a href="">Início</a></li>
            </ul>
        </div>
        <div class="col-md-3 text-center" id="sobre">
            <h4>Sobre nós</h4>
            <ul class="navbar-nav">
              <li><a href="">Nossa história</a></li>
              <li><a href="">Missão, visão e valores</a></li>
            </ul>
        </div>
        <div class="col-md-3 text-center" id="contatos">
          <h4>Contatos</h4>            
          <ul class="navbar-nav">
            <li><a href=""><i class="bi bi-telephone-fill"></i> (19) 1234-5678</a></li>
            <li><a href=""><i class="bi bi-envelope-fill"></i> ecoShare@gmail.com</a></li>
            <li><a href=""><i class="bi bi-house-door-fill"></i> Rua Fatec, N° 123, Centro, Araras/SP</a></li>
          </ul>
        </div>
      </div>
    </div>
  <div id="final">
      <div class="row"> 
        <span class="text-center mt-3 mb-3">© 2024 Ecoshare 3° Semestre.</span>
      </div>
  </div> 
</footer>


<!-- navbar transparente  -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
      var navbar = document.querySelector('.navbar');
    
      window.addEventListener('scroll', function() {
          if (window.scrollY > 500) { 
              navbar.classList.add('solid-navbar');
          } else {
              navbar.classList.remove('solid-navbar');
          }
      });
    });
</script>