{% load static %}

<!-- Estilo customizado -->
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- Bootstrap Icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


<!-- Navbar -->
<header> 
    <nav class="navbar navbar-expand-lg navbar-light fixed-top transparent-navbar">
        <div class="container">
            <a href="{% url 'index' %}"><img class="img-fluid logo" src="../static/img/Logo Ecoshare branco.png" alt="Logo" width="130"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-principal" aria-controls="nav-principal" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="nav-principal">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Início</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a href="#sobre" class="nav-link">Quem somos</a>
                    </li>      
                    <li class="nav-item ml-3">
                        <a href="#contato" class="nav-link">Contato</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item ml-3">
                        <button><a href="{% url 'homeCliente' %}" class="nav-link button-link"><i class="bi bi-person-fill"></i>Meu Perfil</a></button>
                    <li class="nav-item ml-3">
                        <button><a href="{% url 'logout' %}" class="nav-link button-link">Sair</a></button>
                    </li>
                    {% else %}
                    <li class="nav-item ml-3">
                        <button><a href="{% url 'login' %}" class="nav-link button-link"><i class="bi bi-person-fill"></i> Entre | Cadaste-se</a></button>
                    </li>
                    {% endif %}
                </ul> 
            </div>
        </div>
    </nav>
</header>
<!-- End Navbar -->