
{% load static %}
 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Estilo customizado -->
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Bootstrap Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- ICONE -->
        <link rel="icon" href="#">
        <!-- Título -->
        <title>Meu perfil</title>
    </head>
 
<body>

<!-- sidebar -->
<div class="sidebar">
    <a href="{% url 'homeCliente' %}"><img src="#" alt="Logo" width="280"></a>
    <hr>
    <a href="{% url 'homeCliente' %}"><i class="bi bi-house-door-fill"></i> Home</a>
    <a href="{% url 'doacoesCliente' %}"><i class="bi bi-cart-check"></i> Nova doação</a>
    <a href="{% url 'brindesCliente' %}"><i class="bi bi-gift"></i> Brindes disponíveis</a>
    <a href="{% url 'relatorioCliente' %}"><i class="bi bi-bar-chart-line"></i> Minhas doações</a>
    <a class="active" href="{% url 'perfilCliente' %}"><i class="bi bi-person-fill"></i> Perfil</a>
    <hr>
    <a href="{% url 'index' %}"><i class="bi bi-door-open"></i> Sair</a>
</div>
  
<!-- Conteúdo -->
<div id="perfil" class="content">
    <div class="card">
        <form action="" method="post">
            <h5>Editar perfil</h5>
            <input type="hidden" name="action" value="alterar">
            <div class="row" id="itens">
                <div class="col-sm-6"> 
                    <label for="nome">Nome</label>                   
                    <input class="form-control mb-2" type="text" name="nome" placeholder="" required>                    
                    <label for="telefone">Telefone</label>                     
                    <input class="form-control mb-2" type="number" name="telefone" placeholder="" required>                      
                    <label for="email">E-mail</label> 
                    <input class="form-control mb-2" type="text" name="email" placeholder="" required>                  
                    <label for="cep">CEP</label> 
                    <input class="form-control mb-2" type="number" name="cep" placeholder="" required>                     
                    <label for="numero">Número</label>                        
                    <input class="form-control mb-2" type="number" name="numero" placeholder="" required>                     
                    <label for="cidade">Cidade</label> 
                    <input class="form-control mb-2" type="text" name="cidade" placeholder="" required>                     
                    <label for="pais">País</label> 
                    <input class="form-control mb-2" type="text" name="pais" placeholder="" required>                      
                </div>
                <div class="col-sm-6 gx-0">                    
                    <label for="cpf">CPF</label>                        
                    <input class="form-control mb-2" type="number" name="cpf" placeholder="" required>                    
                    <label for="data_nascimento">Data de nascimento</label> 
                    <input class="form-control mb-2" type="date" name="data_nascimento" placeholder="" required>  
                    <label for="senha">Senha</label> 
                    <input class="form-control mb-3" type="password" name="senha" placeholder="" required>               
                    <label for="rua">Rua</label>                     
                    <input class="form-control mb-2" type="text" name="rua" placeholder="" required>                     
                    <label for="bairro">Bairro</label> 
                    <input class="form-control mb-2" type="text" name="bairro" placeholder="" required>                       
                    <label for="estado">Estado</label>                 
                    <input class="form-control mb-2" type="text" name="estado" placeholder="" required>                     
                </div>
                <div class="col-sm-12">
                </div>
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-custom">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
  

</body>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>