/*** Index ***/ 

/* Navbar transparente */
.transparent-navbar {
  background-color: rgba(255, 255, 255, 0); 
  transition: background-color 0.3s ease;
}

/* Navbar com fundo sólido */
.solid-navbar {
  background-color: #f2ecddff; 
}

.transparent-navbar .btn-nav {
  color: #ffffffff !important;
  position: relative;
  background-color: #ebb51dff !important;
  border-radius: 35px;
  width: 100px;
  height: 45px;
}


/*** LOGIN E CADASTRO ***/ 

/* navbar */

nav {
  background-color: white;
  padding: 15px 0;
}

.navbar-light .nav-toggler {
  color: rgba (0, 0, 0, 0.5);
  border-color: rgba (255, 255, 255, 0);
}

.navbar-nav .nav-item a.nav-link {
  text-decoration: none; 
  color: #04723cff;
  font-weight: 600;
}

.navbar-nav .nav-item a.nav-link:hover {
  color: #50be50ff;
}

.navbar-nav .nav-item a.nav-link.active {
  border-bottom: 2px solid #d75a1aff; 
}


/* body */

#left {
    height: 100vh;
    width: 100%;
    background-image: url(https://img.freepik.com/fotos-gratis/folhas-de-palmeira-tropical-padrao-de-fundo-projeto-de-decoracao-de-folhagem-de-arvore-monstera-verde-planta-com-folha-exotica-fechada_90220-1135.jpg);
    background-size: cover; 
}

#right {
    padding: 0 87px;
}

/* Formulario */

#login form {
  margin-top: 93px;
  width: 70%;
  height: 41px;
}

#cadastro form {
  margin-top: 93px;
  height: 41px;
}

input.form-control {
  border-color: rgba(201, 197, 197, 0.541); 
  outline: none;
}

input.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 3px rgb(255, 245, 112);
  border-color: rgba(201, 197, 197, 0.541); 
}

.form-check-input:focus {
  outline: 0;
  box-shadow: 0px 0px 5px grey !important;
}

.btn-custom  {
  color: #ffffffff !important;
  background-color: #50be50ff !important;
  height: 45px;
  width: 100px;
}

.btn-custom:hover {
  color: #ffffffff !important;
  background-color: #04723cff !important;
  box-shadow: 2px 2px 4px grey !important;
  height: 45px;
}

#login .password {
  color: #ebb51dff;
}

#login .password:hover {
  color: #d75a1aff;
}




/*** SIDEBAR ***/
.sidebar {
    margin: 0;
    padding-top: 7px;
    padding-left: 7px;
    width: 200px;
    background-color: #04723cff;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  /* links */
  .sidebar a {
    display: block;
    color: #ffffffff;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
  }
  
  /* link activate */
  .sidebar a.active {
    background-color: #ffffffff;
    color: #04723cff;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    box-shadow: 2px 2px 15px gray;
  }
  
  /* hover link */
  .sidebar a:hover:not(.active) {
    background-color: #50be50ff;
    color: #ffffffff;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px; 
    box-shadow: 0px 0px 5px rgb(1, 207, 108);
  }

  /* icones */ 
  i {
    color: #50be50ff;
  }

  .sidebar a:hover:not(.active) i {
    color: #ffffffff;;
  }
  
/* Conteúdo */
.content {
  margin-left: 50px; 
  padding: 20px; 
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px; 
  overflow-y: auto; 
}

/*** PERFIL DO CLIENTE  ***/ 

/* card */

.card {
  padding: 30px;
  margin: 20px;
}

.card #itens{
  padding: 20px;
}

#doacao .card #itens{
  align-items: center;
  justify-content: center;
}

.card #itens label{
  margin: 6px;
}

.card .form-control {
  width: 70%;
}

.card h5 {
  display: inline;
  border-bottom: 2px solid #d75a1aff;
}

.card select.form-control {
  border-color: rgba(201, 197, 197, 0.541); 
  outline: none;
  width: 70%;
}

.card select:focus {
  width: 70%;
  outline: none;
  box-shadow: 0px 0px 3px rgb(255, 245, 112);
  border-color: rgba(201, 197, 197, 0.541);
}



  
  /* On screens that are less than 700px wide, make the sidebar into a topbar
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  } */
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally 
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }*/



