@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*** Index ***/ 

/* Navbar transparente */
.transparent-navbar {
    background-color: rgba(255, 255, 255, 0); 
    transition: background-color 0.3s ease;
}

.transparent-navbar .navbar-nav .nav-item a.nav-link {
    text-decoration: none; 
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

/* Navbar com fundo sólido */
.solid-navbar {
    background-color: rgb(4, 63, 35); 
    box-shadow: 0px 0px 5px grey;
}

.navbar ul li {
    margin: 7px;
    padding: 13px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav i {
    color: rgb(4, 63, 35);
}

.nav-item button {
    border: none;
    border-radius: 7px;
    background-color: rgb(66, 153, 66);
    float: right;
}

.nav-item button:hover {
    box-shadow: 1px 1px 5px rgb(165, 255, 165);
}

.nav-item button a.nav-link:hover {
    color: white !important;
    text-decoration: none;
}

#fundo {
    background-image: url(../img/Fundo-Ecoshare.png);
    background-size: 100% auto; 
    height: 100%;
}

.fundo-item {
    color: #ffffffff;
    align-items: center;
    padding-top: 220px;
    padding-left: 40px;
}

#fundo button {    
    text-align: center;
}

#fundo h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

#fundo p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#fundo .btn-index {
    color: #ffffff;
    background-color: #d75a1aff;
    height: 45px;
    width: 100px;
}

.btn-index:hover {
    box-shadow: 0px 0px 4px rgb(255, 245, 112);
}

/** instrodução **/ 

#introducao {
    margin: 80px 0;
    padding: 80px;
    background-color: #f2ecddff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

/** instrições **/ 

/** sobre nos **/ 

#sobre {
    margin: 80px 0;
    padding: 80px;
    color: white;
    background-color: #eb9800;
}

#sobre2 {
    margin: 80px 0;
    padding: 80px;
    background-color: white;
}

/** suporte **/ 

/** Rodapé **/

footer {
    background: rgb(46, 45, 45);
    font-family:'Roboto', sans-serif; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .7), 0 2px 8px 0 rgba(0, 0, 0, .5), 0 1px 5px 0 rgba(0, 0, 0, .1);
}

footer #social {
    padding-top: 20px;
    background-color: rgb(56, 56, 56);
}

footer h4 {
    color: #50be50ff;
    font-size: 20px;
    margin: 0 20px;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
}

footer h4:hover {
    color: #ebb51dff;
}

footer .navbar-nav a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

footer .navbar-nav a:hover{
    color: #ebb51dff;
}  

#contatos i {
    color: #50be50ff; 
}

footer ul li{
    margin: 4px 20px;
    list-style: none;
}

footer span {
    color: #ffffff; 
}

.social-media {
    display: inline-block;    
    float: right; 
}

.social-media i {
    font-size: 20px;
    margin: 0 10px;
    float: left;
    transition: all .3s ease;
    color: white;
}
.social-media i:hover {
    transform: scale(1.2);
}

#final {
    background-color: rgb(66, 153, 66);
}


/*** LOGIN E CADASTRO ***/ 

/* navbar */

.logo {
    transition: all 0.2s;
}

.logo:hover {
    transform: scale(1.05);
}

nav {
    background-color: white;
    padding: 15px 0;
}

.navbar-light .nav-toggler {
    color: rgba (0, 0, 0, 0.5);
    border-color: rgba (255, 255, 255, 0);
}

.navbar-nav .nav-item a.nav-link {
    text-decoration: none; 
    color: #04723cff;
    font-weight: 600;
}

.navbar-nav .nav-item a.nav-link:hover {
    color: #50be50ff;
}

.navbar-nav .nav-item a.nav-link.active {
    border-bottom: 2px solid #d75a1aff; 
}

.custom-alert {
    font-size: 17px;
    color: rgb(16, 54, 3) !important;
    background-color: rgba(235, 240, 148, 0.93) !important;
    border: 1px solid rgb(235, 240, 148) !important;
}

/* body */

#left {
    background-image: url(../img/EcoShare-Login.png);
    background-size: 100% auto;
    height: 100%; 
}

#cadastro {
    height: 100vh; 
}

#right {
    padding: 0 87px;
}

#login {
    height: 100vh;
}

/* Formulario */

#login form {
    margin-top: 50px;
    font-size: 14px;
    color: #4e4e4e;
}

#login h2 {
    font-family: "Poppins", sans-serif;
    color: #01400b;
    font-size: 35px;
    font-weight: bold;
}

#cadastro form {
    margin-top: 8px;
    font-size: 14px;
    color: #4e4e4e;
}

#cadastro form input[type="date"].empty::-webkit-datetime-edit {
    color: transparent;
}

#cadastro form input[type="date"] {
    color: black; 
}

input.form-control {
    border-color: rgba(172, 170, 170, 0.41); 
    outline: none;
}

input.form-control:focus {
    outline: none;
    box-shadow: 0px 0px 3px rgb(255, 245, 112);
    border-color: rgba(201, 197, 197, 0.541); 
}

.form-check-input:focus {
    outline: 0;
    box-shadow: 0px 0px 5px grey !important;
}

.btn-custom  {
    color: #ffffffff !important;
    background-color: #50be50ff !important;
    height: 45px;
    width: 100px;
}

.btn-custom:hover {
    background-color: #04723cff !important;
    box-shadow: 2px 2px 4px grey !important;
}

#login .password {
    color: rgb(240, 86, 10);
}

#login .password:hover {
    color: rgb(196, 75, 14);
}

/** PORTAL DO CLIENTE ***/

/**  sidebar **/
.sidebar {
    margin: 0;
    padding-top: 7px;
    padding-left: 7px;
    width: 200px;
    background-color: #04723cff;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
/* links */
.sidebar a {
    display: block;
    color: #ffffffff;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
  
/* link activate */
.sidebar a.active {
    background-color: #ffffffff;
    color: #04723cff;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    box-shadow: 2px 2px 15px gray;
}
  
/* hover link */
.sidebar a:hover:not(.active) {
    background-color: #50be50ff;
    color: #ffffffff;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px; 
    box-shadow: 0px 0px 5px rgb(1, 207, 108);
}

/* icones */ 
i {
    color: #50be50ff;
}

.sidebar a:hover:not(.active) i {
    color: #ffffffff;;
}
  
/* Conteúdo */
.content {
    margin-left: 50px; 
    padding: 20px; 
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 200px; 
    overflow-y: auto; 
}

/*** PERFIL DO CLIENTE  ***/ 

/* card */

.card {
    padding: 30px;
    margin: 20px;
}

.card #itens{
    padding: 20px;
}

#doacao .card #itens{
    align-items: center;
    justify-content: center;
}

.card #itens label{
    margin: 6px;
}

.card .form-control {
    width: 70%;
}

.card h5 {
    display: inline !important;
    border-bottom: 2px solid #d75a1aff;
}

.card select.form-control {
    border-color: rgba(201, 197, 197, 0.541); 
    outline: none;
    width: 70%;
}

.card select:focus {
    width: 70%;
    outline: none;
    box-shadow: 0px 0px 3px rgb(255, 245, 112);
    border-color: rgba(201, 197, 197, 0.541);
}

/*** BRINDES ***/ 

.card .inner-card {
    padding: 0;
    margin: 40px;
}

#brindes .inner-card {
    box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.753);
}

/*** RELATORIOS  ***/

#relatorio .card form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#relatorio .card form h5 {
    align-self: flex-start;
}

#relatorio table th,
#relatorio table td {
    padding: 20px;
}


.btn-cancel  {
    color: #ffffffff !important;
    background-color: rgb(216, 3, 3) !important;
    height: 45px;
    width: 100px;
}

.btn-cancel:hover {
    background-color: rgb(165, 0, 0) !important;
    box-shadow: 2px 2px 4px grey !important;
}
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  } */
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally 
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }*/



